body {
    background: #242424;
}

#section01 {
    background: url("../imgs/intro1.png") no-repeat center;
    height: 100vh;
    width: 100vw;
}


#section01 .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#section01 .text > img {
    transition:all 2s;
    transform:translateY(25%);
    opacity: 0;
}

#section01 .text.on > img {
    transform: translateY(0);
    opacity: 1;
}



#section01 .text .round {
    position: absolute;
    top: -50%;
    left: -2%;
}

#section01 .text .round > img,
#section03 .title .round > img,
#footer .text .round > img {
    animation: turn linear 15s infinite;
}

@keyframes turn {
    to {
        transform: rotate(360deg);
    }
}

#section02 {
    background: url("../imgs/profile.png") no-repeat center;
    height: 100vh;
    width: 100vw;
}

#section02 .pic {
    margin-left: 120px;
}

#section02 .pic > img {
    transition:all 2s ease;
    transform:translateX(-20%);
    opacity: 0;
}

#section02 .pic.on > img {
    transform:translateX(0);
    opacity: 1;
}

#section03 {
    background: url("../imgs/contents/contents.png") no-repeat center;
    height: 100vh;
    width: 100vw;
}

#section03 .title > img {
    transition:all 1.5s;
    transform:translateY(70%);
    opacity: 0;
}

#section03 .title.on > img {
    transform: translateY(0);
    opacity: 1;
}

#section03 .title {
    position: absolute;
    top: 20%;
    left: 11%;
}


#section03 .title .round {
    position: absolute;
    bottom: 40%;
    right: -48%;
}

#section03 .contents {
    margin-top: 240px;
}

#section03 .contents div ul li:first-child {
    margin-bottom: 20px;
}

#section03 .contents div ul li:nth-child(2) {
    margin-bottom: 179px;
}

#section03 .contents .left {
    float: left;
    margin-left: 11%;
}

#section03 .contents .right {
    float: right;
    margin-right: 29%;
}

#section03 .contents div li a:hover > div:last-child {
    display: block;
}

#section03 .contents div li a > div:last-child,
#section03 .contents div li a:hover > div:first-child {
    display: none;
}

#footer {
    background: url("../imgs/foot.png") no-repeat center;
    height: 100vh;
    width: 100vw;
}

#footer .text {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#footer .text > img,
#footer .text_02 > img {
    transition:all 2s;
    transform:translateY(30%);
    opacity: 0;
}

#footer .text_02 > img {
    transform:translateY(100%);
}

#footer .text.on > img,
#footer .text_02.on > img {
    transform: translateY(0);
    opacity: 1;
}

#footer .text_02.on > img {
    transition-delay: 0.7s;
}


#footer .round {
    position: absolute;
    top: -27%;
    left: -15%;
}

#footer .text_02 {
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translate(-50%,-50%);
}